<div class="right_side">

  <!-- SUMMARY -->
  <div class="right_items">
    <h3 class="title">Summary</h3>
    <p>I am an outstanding student, who always strives to improve myself and gather additional
      programming knowledge for performing different tasks. Proof for that are my grades at university,
      where I have an average grade of 9.67. Software engineering interests me a lot and I am confident
      that I would be a huge benefit for your software team.
    </p>
  </div>

  <!-- EXPERIENCE -->
  <div class="right_items">
    <h4 class="title">Experience </h4>

    <div class="experience">
      <div class="time_line">
        <span class="time_point"></span>
        <span class="time_road"></span>
      </div>
      <div class="content">
        <div class="interval">
          <h5>DECEMBER 2021 – PRESENT</h5>
        </div>
        <div class="description">
          <h4>SOFTWARE DEVELOPMENT INTERN, BICOM SYSTEMS</h4>
          <p>Currently, I work as an intern at Bicom Systems. Bicom Systems is a company that develops communication
            solution and apps such as gloCOM & gloCOM GO. This internship enables me to enhance my knowledge in Linux,
            computer networks and programming languages such as PHP and Go. </p>
        </div>
      </div>
    </div>

    <div class="experience">
      <div class="time_line">
        <span class="time_point"></span>
        <span class="time_road"></span>
      </div>
      <div class="content">
        <div class="interval">
          <h5>DECEMBER 2020 – <br> JUNE 2021</h5>
        </div>
        <div class="description">
          <h4>DEMONSTRATOR, SARAJEVO SCHOOL OF SCIENCE AND TECHNOLOGY</h4>
          <p>I was demonstrator for two courses: Programming and Problem Solving and Calculus. I was helping student at
            first year with programming language C++.</p>
        </div>
      </div>
    </div>

    <div class="experience">
      <div class="time_line">
        <span class="time_point"></span>
        <span class="time_road"></span>
      </div>
      <div class="content">
        <div class="interval">
          <h5>JULY 2019 – AUGUST 2019</h5>
        </div>
        <div class="description">
          <h4>TICKET MANAGER, SARAJEVO FILM FESTIVAL</h4>
          <p>My responsibility was to implement faster system for selling cards and to be present on different film
            presentation in case any problems occur. </p>
        </div>
      </div>
    </div>

  </div>


  <div class="right_items">
    <h4 class="title">Education</h4>

    <div class="experience">
      <div class="time_line">
        <span class="time_point"></span>
        <span class="time_road"></span>
      </div>
      <div class="content">
        <div class="interval">
        </div>
        <div class="description">
          <h4>SSST UNIVERSITY (SARAJEVO SCHOOL OF SCIENCE AND TECHNOLOGY SCHOOL) </h4>
          <p>
            Partnered with Buckingham University, UK <br>
            All courses and coursework conducted in English <br>
            Bachelor of Information Systems (expected 2023) <br>
            AVERAGE GPA: 9.67 <br>
            JULY 2018
          </p>
        </div>
      </div>
    </div>

    <div class="experience">
      <div class="time_line">
        <span class="time_point"></span>
        <span class="time_road"></span>
      </div>
      <div class="content">
        <div class="interval">
        </div>
        <div class="description">
          <h4>GIMNAZIJA “OBALA” (GRAMMER SCHOOL OBALA)</h4>
          <p>Average GPA: 4.6</p>
        </div>
      </div>
    </div>
  </div>


  <!-- SKILLS -->
  <div class="right_items">
    <h4 class="title">Professional Skills</h4>
    <div *ngFor="let skill of allSkills" class="skills">
      <h4>{{skill.name}}</h4>
      <div class="percent">
        <div style="width: {{skill.percentage}}%"></div>
      </div>
    </div>

  </div>

  <div class="right_items">
    <h3 class="title">Activities</h3>
    <p class="activities">Throughout my life, I have always strived to improve myself by participating in different
      activities.
      The university has recognized my knowledge, so in the second year of my studying, I started to work as a
      demonstrator for the course Programming and Problem Solving (C++).
      In the first year, I immediately found out with C++ that object-oriented programming is something that I want to
      do with.
      Programming in Java interests me a lot and also, I had a course related to Java in the second year that I finished
      with a 10. In the second year,
      I had a course related to web technologies (finished with grade 10), where I have gained knowledge of HTML5, CSS3,
      JavaScript, and PHP.
      My colleague and I developed a dynamic webpage for a travel agency. We have used both MySQL and Oracle for a
      database server.
      Currently, I am learning Angular and Spring at University. My aim is to develop an application that will enable
      the online reservation of tables in a restaurant.
      In 2019, I worked as a ticket manager at Sarajevo Film Festival. I am a very communicative person, who likes team
      projects, and I am always ready to collaborate with others and accept different advice.
      I participated in SSST Hackathon, where older students help younger with developing programming tasks.
      I was training volleyball for fifteen years for the club “Bosna”, with which I had a professional agreement.
      During the university break, I always try to improve my knowledge. I have successfully finished a course on Udemy
      for Advanced C++.
      Last year I have completed the course JavaScript on w3schools. Currently, I am working as an intern at Bicom
      Systems.
      This internship gives me the opportunity to learn how does SCRUM works and most importantly to work on real
      projects.
      At Bicom Systems, I improve my knowledge of PHP, HTML, CSS and also start learning Go.
      I would really appreciate the opportunity to work with you and your team.
    </p>
  </div>

</div>
