<div class="left_side">
  <div class="profile">
    <div class="img_setting">
      <img src="../assets/Amil.PNG">
    </div>
    <h4>Amil Murselović</h4>
    <h5>Student, Bicom Systems Intern</h5>
  </div>
  <div class="left_items">
    <h4 class="title">Contact Info</h4>
    <ul>
      <li>
        <span class="icons">
          <i class="bx bx-envelope"></i>
        </span>
        <span class="text">amil.murselovic@stu.ssst.edu.ba</span>
      </li>
      <li>
        <span class="icons">
          <i class="bx bx-phone"></i>
        </span>
        <span class="text">387-61-923-131</span>
      </li>
      <li>
        <span class="icons">
         <a
           href="https://ba.linkedin.com/in/amil-murselovi%C4%87-0640641b8?original_referer=https%3A%2F%2Fwww.google.com%2F"
           target="_blank"> <i class='bx bxl-linkedin-square'></i></a>
        </span>
        <span class="text">Linkedin</span>
      </li>

    </ul>
  </div>


  <div class="left_items">
    <h4 class="title">Languages</h4>
    <ul class="languages">
      <li>
        <span class="text">Bosnian</span>
        <div class="percent">
          <div style="width: 100%"></div>
        </div>
      </li>
      <li>
        <span class="text">English</span>
        <div class="percent">
          <div style="width: 80%"></div>
        </div>
      </li>
      <li>
        <span class="text">German</span>
        <div class="percent">
          <div style="width: 50%"></div>
        </div>
      </li>
    </ul>
  </div>


  <div class="left_items">
    <h4 class="title">Location</h4>
    <ul class="languages">
      <li>
        <span class="icons">
          <i class="bx bx-location-plus"></i>
        </span>
        <span class="text">Sarajevo, Bosnia and Herzegovina</span>
      </li>
    </ul>
  </div>
</div>
