@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
@import url('https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.container .left_side {
  background: #343a40;
  padding: 1.5rem;
}
.container .right_side {
  background: #f8f9fa;
  padding: 1.5rem;
}


